{% extends "planapp/bootstrap.html" %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
    About
  </div>
  <div class="card-body">
    <h5 class="card-title">Created by <b>Matthew White</b></h5>
    <p class="card-text">matttw42@gmail.com</p>
    <p class="card-text"><a class="nav-link active" href="https://github.com/mattwhite180/">Github</a></p>
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
  </div>
  <div class="card-footer text-muted">
    GoalsAndPlans101
  </div>
</div>

{% endblock %}