{% extends "planapp/bootstrap.html" %}

{% block content %}

<div class="card">
  <div class="card-header">
    Backup JSON
  </div>
  {% if form %}
    <form id="backup-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input id="submit" class="btn btn-primary" type="submit" value="Submit" />
    </form>
  {% endif %}
  {% if data %}
    <div class="card-body">
      <a id="copy" onclick="copyToClipboard('data')" class="btn btn-primary">Copy</a>
      <a id="all_goals" href="{% url 'all_goals' %}" class="btn btn-primary" style="background-color: orange; border-color: orange;">all_goals</a>
      <p id="data">{{ data }}</p>
    </div>
  {% endif %}
</div>

{% endblock %}