<!DOCTYPE html>
<html lang="en">
<head>
    {# <link rel="stylesheet" href="{% static 'planapp/style.css' %}"> #}
    <title>{% block title %}Goals And Plans{% endblock %}</title>
</head>
<body>
    <h1>Hello from Base!</h1>
    <div id="topbar">
        {% block topbar %}
        <ul>
            <!-- <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="/blog/">Blog</a></li> -->
            {% if user.is_authenticated %}
                <p>Welcome {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">Logout?</a></p>
                {# <p><a href="{% url 'change_password' %}">Change password?</a></p> #}                
            {% else %}
                <p><a href="{% url 'login' %}">Login?</a></p>
                <p><a href="{% url 'create' %}">Create account?</a></p>
            {% endif %}
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>