{% extends "planapp/bootstrap.html" %}

{% block content %}

<div class="card text-center">
  <div class="card-header">GoalsAndPlans</div>
  <div class="card-body">
    {% if form_title %}
      <h5 id="title" class="card-title">{{ form_title }}</h5>
    {% else %}
      <h5 class="card-title">Fill out form</h5>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input id="submit" class="btn btn-primary" type="submit" value="Submit" />
    </form>
  </div>
  <div class="card-footer text-muted">GoalsAndPlans</div>
</div>

{% endblock %}