{% extends "planapp/base.html" %}

{% block content %}

{% if goal %}
<h1>{{ goal.title }}</h1>
    <ul>
        <li>Percentage: {{ percentage }}</li>
        <li>Done: {{ done }}</li>
        <li>Total: {{ total }}</li>
        <li>Todo: {{ todo }}</li>
    </ul>
{% else %}
    <p>goal isnt available.</p>
{% endif %}
{% if plan_list %}
    <ul>
    {% for plan in plan_list %}
        <li><a href="{% url 'plan' plan.id %}">{{ plan.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No plans associated with this goal are created yet.</p>
{% endif %}

<div class="card text-center">
    <div class="card-header">
      Create a new Plan
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      Fill out form and click Submit
    </div>
</div>

{% endblock %}