{% extends "planapp/base.html" %}

{% block content %}

{% if goal %}
<div class="card text-center">
    <div class="card-header">
        {{ goal.title }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ goal.description }}</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="{% url 'edit_goal' goal.id %}" class="btn btn-primary">Edit Goal</a>
    </div>
    <div class="card-footer text-muted">
      footer goes here
    </div>
</div>
{% else %}
    <p>goal isnt available.</p>
{% endif %}
{% if plan_list %}
    <ul>
    {% for plan in plan_list %}
        <div class="card">
            <h5 class="card-header"><a href="{% url 'plan' plan.id %}">{{ plan.title }}</a></h5>
            <div class="card-body">
            <h5 class="card-title">{{ plan.description }}</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="{% url 'edit_plan' plan.id %}" class="btn btn-primary">Edit Plan</a>
            </div>
        </div>
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No plans associated with this goal are created yet.</p>
{% endif %}

<div class="card text-center">
    <div class="card-header">
      Create a new Plan
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
    <div class="card-footer text-muted">
      Fill out form and click Submit
    </div>
</div>

{% endblock %}