{% extends "planapp/bootstrap.html" %}

{% block leftcontent %}

{% include "planapp/goal_viewmodel.html" %}

<br>
<div class="card text-center">
  <div class="card-header">
    Create a new Plan
  </div>
  <div class="card-body">
    <form id="plan-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input id="submit" class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</div>

{% endblock %}

{% block rightcontent %}
  {% include "planapp/plan_viewmodel.html" %}
  <script>
    w3.hide('.plan-goal');
    w3.hide('.newtask-plan');
  </script>
{% endblock %}
