{% extends "planapp/base.html" %}

{% block content %}

<div id=errorblock>
    {% if form.errors %}
        <h2>errors</h2>
        {% for f in form.errors %}
        <div class="alert alert-warning" role="alert">
            There is a problem with the <b>{{ f }}</b> you tried to submit
        </div>
        {% endfor %}
    {% endif %}
</div>

{% if goals_list %}
    {% for goal in goals_list %}
    <div class="card text-center">
        <div class="card-header">
            <a href="{% url 'goal' goal.id %}">{{ goal.title }}</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ goal.description }}</h5>
          <p class="card-text">Due: {{ goal.due }}</p>
          <p class="card-text">Finished: {{ goal.finished }}</p>
          <p class="card-text">Priority: {{ goal.priority }}</p>
          <p class="card-text">Cost: {{ goal.cost }}</p>
          <a href="{% url 'edit_goal' goal.id %}" class="btn btn-primary">Edit Goal</a>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
    <br>
    {% endfor %}
{% else %}
    <p>No goals are created yet.</p>
{% endif %}

<div class="card text-center">
    <div class="card-header">
      Create a new goal
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
    <div class="card-footer text-muted">
      Fill out form and click Submit
    </div>
</div>


{% endblock %}