{% extends "planapp/bootstrap.html" %}

{% block leftcontent %}

<p class="text-center">
  <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Help
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Create a goal, such as be more healthy or do well in school. Then click on the goal to create specific and trackable plans, such as go on a walk once a day, or go to the gym twice a week.
  </div>
</div>
    <div class="card text-center">
        <div class="card-header">
            <h1>Create a new goal</h1>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
        <div class="card-footer text-muted">
            Fill out form and click Submit
        </div>
    </div>
{% endblock %}

{% block rightcontent %}
    {% if goals_list %}
    {% for goal in goals_list %}
    <div class="card text-left">
        <div class="card-header">
            <h2><a href="{% url 'goal' goal.id %}">{{ goal.title }}</a></h2>
        </div>
        <div class="card-body text-left">
            <h5 class="card-title">{{ goal.description }}</h5>
            <div class="card-text">Priority: <span class="badge badge-pill badge-warning">{{ goal.priority|slice:"2:" }}</span></div>
            <a href="{% url 'edit_goal' goal.id %}" class="btn btn-primary">Edit Goal</a>
      <button type="button" class="btn btn-primary" style="background-color: red; border-color: red;"
	      data-toggle="modal" data-target="#exampleModalCenter{{ goal.id }}">Delete Goal</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter{{ goal.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Goal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the '<b>{{ goal.title }}</b>' goal?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="{% url 'delete_goal' goal.id %}" class="btn btn-primary" style="background-color: red; border-color: red;">Delete Goal</a>
      </div>
    </div>
  </div>
</div>
        </div>
    </div>
    <br>
    {% endfor %}
    {% else %}
        <p>No goals are created yet.</p>
    {% endif %}
{% endblock %}
