{% extends "planapp/bootstrap.html" %}

{% block content %}

<h1>GoalsAndPlans!</h1>
<br>
<p>This website helps automate your todo list</p>
<p>Login or create an account to get started</p>
<br>
<p>Create a goal, such as be more healthy or do well in school. Then click on the goal to create specific and trackable plans, such as go on a walk once a day, or go to the gym twice a week.</p>
<br>
    <p>Create specific and trackable plans associated with your goal, such as go on a walk once a day, or go to the gym twice a week.</p>
    <ul>
      <li>Toggle the <b>continuous</b> check box to have tasks automatically created for this plan</li>
      <li>The <b>limit</b> is the max amount of tasks that can be active at the same time for this plan</li>
      <li>The <b>add period</b> is how frequently tasks will be created (if add period is 1, tasks will be created every day, if add period is 2, tasks will be created every other day, if add period is 7, tasks will be created once a week, etc.</li>
      <li>The <b>add count</b> is how many tasks will be added for each add period</li>
      <li>If you wish to create your tasks manually instead of automate them, uncheck the <b>continuous</b> check box</li>
    </ul>


{% endblock %}
