{% load static %}

{% if pic_list %}

<div class="collapse" id="collapseHelp">
  <div class="card-body text-center">
    <div class="card text-center">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Pic</th>
              <th scope="col">Source</th>
            </tr>
          </thead>
          <tbody>
            {% for pic in pic_list %}
            <tr>
              <th scope="row"><img src="{% static pic.url %}" alt="{{ pic.attr_description }}"></th>
              <td><a href="{{ pic.attr_link }}" title="{{ pic.attr_title }}">{{ pic.attr_description }}</a></td>
            </tr>
            {% endfor %}
            <tr>
              <th scope="row"><img src="{% static default_pic.url %}" alt="{{ default_pic.attr_description }}"></th>
              <td><a href="{{ default_pic.attr_link }}" title="{{ default_pic.attr_title }}">{{ default_pic.attr_description }}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-muted">
        Any others not listed here are from <a href="https://getbootstrap.com/">Bootstrap</a>
      </div>
    </div>
</div>
</div>

<p class="text-center">
  <button id="help" class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseHelp"
    aria-expanded="false" aria-controls="collapseHelp">
    Where I got the icons
  </button>
</p>

{% endif %}
