{% extends "planapp/bootstrap.html" %}

{% block leftcontent %}
    {% if plan %}
    <div class="card text-center">
        <div class="card-header">
            <h1>{{ plan.title }}</h1>
        </div>
        <div class="card-body">
        <h4 class="card-title">{{ plan.description }}</h4>
        {% if plan.continuous %}
            <div class="card-text"><span class="badge badge-pill badge-secondary">continuous</span></div>
        {% endif %}
        <div class="card-text">Default Priority: <span class="badge badge-pill badge-warning">{{ plan.default_priority|slice:"2:" }}</span></div>
        <div class="card-text">Goal: <span class="badge badge-pill badge-success">{{ plan.goal }}</span></div>
        <div class="card-text">Limit: <span class="badge badge-pill badge-primary">{{ plan.limit }}</span></div>
        <div class="card-text">Add Count: <span class="badge badge-pill badge-primary">{{ plan.add_count }}</span></div>
        <div class="card-text">Add Period: <span class="badge badge-pill badge-primary">{{ plan.add_period }}</span></div>
        <a href="{% url 'edit_plan' plan.id %}" class="btn btn-primary">Edit Plan</a>
        <a href="{% url 'delete_plan' plan.id %}" class="btn btn-primary" style="background-color: red; border-color: red;">Delete Plan</a>
        <a href="{% url 'goal' plan.goal.id %}" class="btn btn-primary" style="background-color: orange; border-color: orange;">Goal</a>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
    {% else %}
        <p>Plan isnt available.</p>
    {% endif %}
    <br>
    <div class="card text-center">
        <div class="card-header">
        Create a new task
        </div>
        <div class="card-body">
        <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
        <div class="card-footer text-muted">
        Fill out form and click Submit
        </div>
    </div>
{% endblock %}

{% block rightcontent %}
    {% if task_list %}
        {% for task in task_list %}
            <div class="card">
                <h1 class="card-header"><a href="{% url 'task' task.id %}">{{ task.title }}</a></h1>
                <div class="card-body">
                <h5 class="card-title">{{ task.description }}</h5>
                <div class="card-text">Priority: <span class="badge badge-pill badge-warning">{{ task.priority|slice:"2:" }}</span></div>
                {% if task.todolist %}
                    <div class="card-text">MiniTask: <span class="badge badge-pill badge-secondary">{{ task.todolist }}</span></div>
                {% endif %}
                <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit Task</a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-primary" style="background-color: red; border-color: red;">Delete Task</a>
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
    <p>No tasks associated with this plan are created yet.</p>
    {% endif %}
{% endblock %}
