<p class="text-center">
  <button id="help" class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapsePlan"
    aria-expanded="false" aria-controls="collapsePlan">
    Help
  </button>
</p>
<div class="collapse" id="collapsePlan">
  <div id="help-body" class="card card-body">
    Create specific and trackable plans associated with your goal, such as go on a walk once a day, or go to the gym
    twice a week.
    <ul>
      <li>Toggle the <b>continuous</b> check box to have tasks automatically created for this plan</li>
      <li>The <b>limit</b> is the max amount of tasks that can be active at the same time for this plan</li>
      <li>The <b>add period</b> is how frequently tasks will be created (if add period is 1, tasks will be created every
        day, if add period is 2, tasks will be created every other day, if add period is 7, tasks will be created once a
        week, etc.</li>
      <li>The <b>add count</b> is how many tasks will be added for each add period</li>
      <li>If you wish to create your tasks manually instead of automate them, uncheck the <b>continuous</b> check box
      </li>
    </ul>
  </div>
</div>

{% if plan_list %}
  {% for plan in plan_list %}
    <div class="card text-center">
      <h1 id="plan-{{ plan.id }}-title"  class="card-header"><a href="{% url 'plan' plan.id %}">{{ plan.title }}</a></h1>
      <div class="card-body">
        <h5 id="plan-{{ plan.id }}-description" class="card-title">{{ plan.description }}</h5>
        {% if plan.default_todolist %}
          <div id="plan-{{ plan.id }}-todolist" class="card-text">TodoList: <span class="badge badge-pill badge-warning">{{ plan.default_todolist }}</span></div>
        {% endif %}
        {% if plan.continuous %}
          <div id="plan-{{ plan.id }}-continuous" class="card-text"><span class="badge badge-pill badge-danger">continuous</span></div>
          <div id="plan-{{ plan.id }}-limit" class="card-text">Limit: <span class="badge badge-pill badge-primary">{{ plan.limit }}</span></div>
          <div id="plan-{{ plan.id }}-addcount" class="card-text">Add Count: <span class="badge badge-pill badge-primary">{{ plan.add_count }}</span></div>
          {% if plan.keep_at_limit %}
            <div id="plan-{{ plan.id }}-keep_at_limit" class="card-text">Keep at Limit: <span class="badge badge-pill badge-primary">{{ plan.keep_at_limit }}</span></div>
          {% endif %}
          {% if points_enabled %}  
            <div id="plan-{{ plan.id }}-points" class="card-text">Default points: <span class="badge badge-pill badge-primary">{{ plan.default_points }}</span></div>
          {% endif %}
          <div id="plan-{{ plan.id }}-currentcount" class="card-text">Current Count: <span class="badge badge-pill badge-danger">{{ plan.task_count }}</span></div>
          <div id="plan-{{ plan.id }}-priority" class="card-text">Default Priority: <span class="badge badge-pill badge-warning">
            {{ plan.default_priority|slice:"2:" }}</span></div>
        {% endif %}
        {% if plan.continuous and not plan.keep_at_limit %}
          {% if plan.sunday %}
            <div id="plan-{{ plan.id }}-sunday" class="card-text">
              <span class="badge badge-pill badge-secondary">Sunday</span>
            </div>
          {% endif %}
          {% if plan.monday %}
            <div id="plan-{{ plan.id }}-monday" class="card-text">
              <span class="badge badge-pill badge-secondary">Monday</span>
            </div>
          {% endif %}
          {% if plan.tuesday %}
            <div id="plan-{{ plan.id }}-tuesday" class="card-text">
              <span class="badge badge-pill badge-secondary">Tuesday</span>
            </div>
          {% endif %}
          {% if plan.wednesday %}
            <div id="plan-{{ plan.id }}-wednesday" class="card-text">
              <span class="badge badge-pill badge-secondary">Wednesday</span>
            </div>
          {% endif %}
          {% if plan.thursday %}
            <div id="plan-{{ plan.id }}-thursday" class="card-text">
              <span class="badge badge-pill badge-secondary">Thursday</span>
            </div>
          {% endif %}
          {% if plan.friday %}
            <div id="plan-{{ plan.id }}-friday" class="card-text">
              <span class="badge badge-pill badge-secondary">Friday</span>
            </div>
          {% endif %}
          {% if plan.saturday %}
            <div id="plan-{{ plan.id }}-saturday" class="card-text">
              <span class="badge badge-pill badge-secondary">Saturday</span>
            </div>
          {% endif %}
          <a id="newtask-plan-{{ plan.id }}" href="{% url 'plan_create_task' plan.id %}" class="btn btn-success newtask-plan">Create recurring task</a>
        {% endif %}
        <a id="plan-goal-link" href="{% url 'goal' plan.goal.id %}" class="btn btn-primary plan-goal"
        style="background-color: orange; border-color: orange;">Goal</a>
        <a href="{% url 'edit_plan' plan.id %}" class="btn btn-primary">Edit Plan</a>
        <button id="delete-plan-{{ plan.id }}-warning" type="button" class="btn btn-primary" style="background-color: red; border-color: red;" data-toggle="modal"
          data-target="#exampleModalCenter{{ plan.id }}">Delete Plan</button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter{{ plan.id }}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete the '<b>{{ plan.title }}</b>' plan?
              </div>
              <div class="modal-footer">
                <button  id="delete-plan-{{ plan.id }}-warning-close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a id="delete-plan" href="{% url 'delete_plan' plan.id %}" class="btn btn-primary"
                  style="background-color: red; border-color: red;">Delete Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  {% endfor %}
{% else %}
  <p id="no-plans">No plans associated with this goal are created yet.</p>
{% endif %}