{% extends "planapp/bootstrap.html" %}

{% block leftcontent %}

<div id="errorblock">
  {% if form.errors %}
    <h2>errors</h2>
    {% for f in form.errors %}
      <div class="alert alert-warning" role="alert">
        There is a problem with the <b>{{ f }}</b> you tried to submit
      </div>
    {% endfor %}
  {% endif %}
</div>

<div class="card text-center">
  <div class="card-header">
    <h1>Prize</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">How many prizes are you redeeming?</h5>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
  </div>
</div>

{% endblock %}

{% block rightcontent %}

  {% include "planapp/prize_viewmodel.html" %}
  <script>
    w3.hide('.redeem-prize');
  </script>

{% endblock %}