{% extends "planapp/bootstrap.html" %}

{% block content %}

{% if task %}
<div class="card text-center">
    <div class="card-header">
        <h1>{{ task.title }}</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ task.description }}</h5>
      <div class="card-text">Priority: <span class="badge badge-pill badge-warning">{{ task.priority|slice:"2:" }}</span></div>
      <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit Task</a>
      <a href="{% url 'delete_task' task.id %}" class="btn btn-primary" style="background-color: red; border-color: red;">Delete Task</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
{% else %}
    <p>task isnt available.</p>
{% endif %}

{% endblock %}