<p class="text-center">
  <button id="task-help-button" class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample-task"
    aria-expanded="false" aria-controls="collapseExample">
    Help
  </button>
</p>
<div class="collapse" id="collapseExample-task">
  <div id="help-task" class="card card-body">
    Delete the task when it is completed
  </div>
</div>

{% if task_list %}
  {% for task in task_list %}
    <div class="card text-center">
      <h1 class="card-header"><a href="{% url 'task' task.id %}">{{ task.title }}</a></h1>
      <div class="card-body">
        <h5 class="card-title">{{ task.description }}</h5>
        <div class="card-text">Priority: <span class="badge badge-pill badge-warning">{{ task.priority|slice:"2:" }}</span>
        </div>
        {% if points_enabled %}
          <div id="task-{{ task.id }}-points" class="card-text">Points: <span class="badge badge-pill badge-primary">{{ task.points }}</span></div>
        {% endif %}
        {% if task.todolist %}
          <div class="card-text">MiniTask: <span class="badge badge-pill badge-secondary">{{ task.todolist }}</span></div>
          <a href="{% url 'remove_todo' task.id %}" class="btn btn-primary"
            style="background-color: purple; border-color: purple;">Remove from TodoList</a>
        {% endif %}
        <a id="task-{{ task.id }}-goal" href="{% url 'goal' task.plan.goal.id %}" class="btn btn-primary task-goal"
        style="background-color: green; border-color: green;">Goal</a>
        <a id="task-{{ task.id }}-goal" href="{% url 'plan' task.plan.id %}" class="btn btn-primary task-plan"
        style="background-color: orange; border-color: orange;">Plan</a>
        <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit Task</a>
        <button type="button" class="btn btn-primary" style="background-color: red; border-color: red;" data-toggle="modal"
          data-target="#exampleModalCenter{{ task.id }}">Delete Task</button>

      <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter{{ task.id }}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete the '<b>{{ task.title }}</b>' task?</p>
                {% if points_enabled %}
                  <br>
                  <p>Deleting this task will award you {{ task.points }} point(s)</p>
                {% endif %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-primary"
                  style="background-color: red; border-color: red;">Delete Task</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  {% endfor %}
{% else %}
  <p>No tasks are available.</p>
{% endif %}
