{% extends "planapp/bootstrap.html" %}

{% block content %}

{% if task %}
<div class="card text-center">
    <div class="card-header">
    <h1>{{ task.title }}</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ task.description }}</h5>
        <div class="card-text">Priority: <span class="badge badge-pill badge-warning">{{ task.priority|slice:"2:" }}</span></div>
        <div class="card-text">Goal: <span class="badge badge-pill badge-success">{{ task.plan.goal }}</span></div>
        <div class="card-text">Plan: <span class="badge badge-pill badge-info">{{ task.plan }}</span></div>
        {% if task.todolist %}
            <div class="card-text">MiniTask: <span class="badge badge-pill badge-secondary">{{ task.todolist }}</span></div>
        {% endif %}
        <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit Task</a>
        <a href="{% url 'delete_task' task.id %}" class="btn btn-primary" style="background-color: red; border-color: red;">Delete Task</a>
        <a href="{% url 'plan' task.plan.id %}" class="btn btn-primary" style="background-color: orange; border-color: orange;">Plan</a>
        <a href="{% url 'goal' task.plan.goal.id %}" class="btn btn-primary" style="background-color: green; border-color: green;">Goal</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
{% else %}
    <p>task isnt available.</p>
{% endif %}

{% endblock %}