{% extends "planapp/base.html" %}

{% block content %}

{% if task %}
<div class="card text-center">
    <div class="card-header">
        <h1>{{ task.title }}</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ task.description }}</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit Task</a>
    </div>
    <div class="card-footer text-muted">
      footer goes here
    </div>
</div>
{% else %}
    <p>task isnt available.</p>
{% endif %}

{% endblock %}