{% if todolist_list %}
  {% for todo in todolist_list %}
    <div class="card text-center">
      <h1 class="card-header"><a href="{% url 'todolist' todo.id %}">{{ todo.title }}</a></h1>
      <div class="card-body">
        <div><span class="badge badge-pill badge-danger">todolist</span></div>
        <h5 class="card-title">{{ todo.description }}</h5>
        <div class="card-text">Priority: <span class="badge badge-pill badge-warning">
          {{ todo.priority|slice:"2:" }}
        </span></div>
        <a href="{% url 'edit_todolist' todo.id %}" class="btn btn-primary">Edit TodoList</a>
        <button type="button" class="btn btn-primary" style="background-color: red; border-color: red;"
          data-toggle="modal" data-target="#exampleModalCenter{{ todo.id }}">Delete TodoList</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter{{ todo.id }}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Todo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete the '<b>{{ todo.title }}</b>' todo list?<br>
                This will not delete the tasks associated with the todo list
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'delete_todolist' todo.id %}" class="btn btn-primary"
                  style="background-color: red; border-color: red;">Delete TodoList</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  {% endfor %}
{% else %}
  <p>No TodoList lists are created yet.</p>
{% endif %}