{% extends "planapp/bootstrap.html" %}

{% block leftcontent %}
    {% if todolist %}
    <div class="card text-center">
        <div class="card-header">
            <h1>{{ todolist.title }}</h1>
        </div>
        <div class="card-body">
        <h4 class="card-title">{{ todolist.description }}</h4>
        <a href="{% url 'edit_todolist' todolist.id %}" class="btn btn-primary">Edit TodoList</a>
	          <button type="button" class="btn btn-primary" style="background-color: red; border-color: red;"
	      data-toggle="modal" data-target="#exampleModalCenter{{ todolist.id }}">Delete TodoList</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter{{ todolist.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Todo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the '<b>{{ todolist.title }}</b>' todo list?
	This will not delete the tasks associated with the todo list
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="{% url 'delete_todolist' todolist.id %}" class="btn btn-primary" style="background-color: red; border-color: red;">Delete TodoList</a>
      </div>
    </div>
  </div>
</div>

        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
    {% else %}
        <p>TodoList isnt available.</p>
    {% endif %}
{% endblock %}

{% block rightcontent %}
    {% if task_list %}
    <ul>
    {% for task in task_list %}
        <div class="card">
            <h1 class="card-header"><a href="{% url 'task' task.id %}">{{ task.title }}</a></h1>
            <div class="card-body">
            <h5 class="card-title">{{ task.description }}</h5>
            <div class="card-text">Priority: <span class="badge badge-pill badge-warning">{{ task.priority|slice:"2:" }}</span></div>
            <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit Task</a>
            <a href="{% url 'delete_task' task.id %}" class="btn btn-primary" style="background-color: red; border-color: red;">Delete Task</a>
            <a href="{% url 'remove_todo' task.id %}" class="btn btn-primary" style="background-color: orange; border-color: orange;">Remove from TodoList</a>
            </div>
        </div>
        <br>
    {% endfor %}
    </ul>
    {% else %}
    <p>No tasks associated with this plan are created yet.</p>
    {% endif %}
{% endblock %}
