<ul class="nav justify-content-center">
  {% if user.is_authenticated %}
    <li class="nav-item navbar-brand">
      <a class="nav-link active" href="{% url 'home' %}">
        <span class="badge badge-pill badge-success">Home</span>
      </a>
    </li>
    <li class="nav-item navbar-brand">
      <a class="nav-link active" href="{% url 'logout' %}">
        <span class="badge badge-pill badge-warning">Logout</span>
      </a>
    </li>
    <li class="nav-item navbar-brand">
      <a class="nav-link active" href="{% url 'quick_task' %}">
        <span class="badge badge-pill badge-secondary">QuickTask</span>
      </a>
    </li>
    <li class="nav-item navbar-brand">
      <a class="nav-link active" href="{% url 'task_todo' %}">
        <span class="badge badge-pill badge-info">TodoList</span>
      </a>
    </li>
    <li class="nav-item navbar-brand">
      <a class="nav-link active" href="{% url 'change_points' %}">
        <span class="badge badge-pill badge-danger">Edit Points</span>
      </a>
    </li>
    <li class="nav-item navbar-brand">
      <a class="nav-link active" href="{% url 'prize' %}">
        <span class="badge badge-pill badge-success">Prizes</span>
      </a>
    </li>
    {% if user.is_superuser %}
      <li class="nav-item navbar-brand">
        <a class="nav-link active" href="{% url 'run_jobs' %}">
          <span class="badge badge-pill badge-dark">Cron</span>
        </a>
      </li>
      <li class="nav-item navbar-brand">
        <a class="nav-link active" href="{% url 'planify' %}">
          <span class="badge badge-pill badge-warning">Planify</span>
        </a>
      </li>
      <li class="nav-item navbar-brand">
        <a class="nav-link active" href="/admin/">
          <span class="badge badge-pill badge-secondary">Admin</span>
        </a>
      </li>
      <li class="nav-item navbar-brand">
        <a class="nav-link active" href="{% url 'create_backup' %}">
          <span class="badge badge-pill badge-secondary">Create Backup</span>
        </a>
      </li>
    {% endif %}
  {% else %}
    <li class="nav-item navbar-brand">
      <a class="nav-link active" href="{% url 'login' %}">
        <span class="badge badge-pill badge-primary">Login</span>
      </a>
    </li>
    <li class="nav-item navbar-brand">
      <a class="nav-link active" href="{% url 'create' %}">
        <span class="badge badge-pill badge-success">Create Account</span>
      </a>
    </li>
  {% endif %}
  <li class="nav-item navbar-brand">
    <a class="nav-link active" href="{% url 'about' %}">
      <span class="badge badge-pill badge-warning">About</span>
    </a>
  </li>

</ul>
</div>
<br>