<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-blue p-4">
      {% if user.is_authenticated %}
        <a class="nav-link active" href="{% url 'home' %}">
          <button type="button" class="btn btn-success">Home</button>
        </a>
        <a class="nav-link active" href="{% url 'logout' %}">
          <button type="button" class="btn btn-warning">Logout</button>
        </a>
        <a class="nav-link active" href="{% url 'quick_task' %}">
          <button type="button" class="btn btn-secondary">QuickTask</button>
        </a>
        <a class="nav-link active" href="{% url 'task_todo' %}">
          <button type="button" class="btn btn-info">TodoList</button>
        </a>
        <a class="nav-link active" href="{% url 'prize' %}">
          <button type="button" class="btn btn-danger">Prizes</button>
        </a>
        {% if user.is_superuser %}
          <a class="nav-link active" href="{% url 'run_jobs' %}">
            <button type="button" class="btn btn-dark">Cron</button>
          </a>
          <a class="nav-link active" href="/admin/">
            <button type="button" class="btn btn-secondary">Admin</button>
          </a>
          <a class="nav-link active" href="{% url 'create_backup' %}">
            <button type="button" class="btn btn-secondary">Create Backup</button>
          </a>
        {% endif %}
      {% else %}
        <a class="nav-link active" href="{% url 'login' %}">
          <button type="button" class="btn btn-primary">Login</button>
        </a>
        <a class="nav-link active" href="{% url 'create' %}">
          <button type="button" class="btn btn-success">Create Account</button>
        </a>
      {% endif %}
      <a class="nav-link active" href="{% url 'about' %}">
        <button type="button" class="btn btn-warning">About</button>
      </a>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<br>